
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #ffffff;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}
nav {
    
    background-color: #ffffff;
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav li {
    display: inline;
    margin-right: 20px;
}
.container {
    
    background: linear-gradient(to bottom, #ffd500, #ffffff);
    
    
}
.container p{

font-size: 20px;


}

.links {


font-size:20px;
color:rgb(255, 255, 255);
justify-content: space-between;


}

.index {


    font-size: 20px;
    color:rgb(255, 255, 255);
    
    
}

a:link {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: underline;
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
header {
    background-color: #010101;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}
nav {
    background-color: #ffffff;
    color: #fff;
    padding: 1px;
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav li {
    display: inline;
    margin-right: 20px;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.threeD-text {
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
    transform: perspective(500px) rotateX(30deg);
    background: linear-gradient(90deg, #ffd500, #ffd500, #ffd500, #ffd500, #ffd500);
    background-size: 200% 100%;
  
}

.example-img{

position: absolute;
top: 200;
right: 120;
height: 100%;
width: 45%;


}

img{
    max-width: 60%;
    max-height: 60%
    }